<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find colour_linear)/config/control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/colour_linear" args="joint_state_controller
					  slider_joint_position_controller"/>


</launch>